
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
  font-family: 'Poppins';
}

.sidebar-en{
  width: 280px;
  min-height:130vh;
}
.sidebar{

  flex-direction: row;
}
@media(max-width:700px){
  .sidebar{
     flex-direction: column;
  }
  
  .responsive-form{
    margin-top: -2rem;
    margin-left: -2rem;
    width: 155%;
  }
  .form-container{
    margin-left: 2.5rem;
    width: 123%;
    margin-top: 6rem;
  }
  .rf-2{
    margin-top:3rem;
  }
  .rf-3{
    min-width:176%;
    margin-left:-3rem;
  }
  .sidebar-en{
   
    width: 100vw;
    min-height:100%
 }
}